<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>getCourses</servlet-name>
        <servlet-class>Servlets.getCourses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication</servlet-name>
        <servlet-class>Servlets.Authentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPass</servlet-name>
        <servlet-class>Servlets.ForgotPass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Password_Update</servlet-name>
        <servlet-class>Servlets.Password_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostQuestion</servlet-name>
        <servlet-class>Servlets.PostQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTopics</servlet-name>
        <servlet-class>Servlets.GetTopics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LikeBookmark_dataEntry</servlet-name>
        <servlet-class>Servlets.LikeBookmark_dataEntry</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PostAnswer</servlet-name>
        <servlet-class>Servlets.PostAnswer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RedirectServlet</servlet-name>
        <servlet-class>Servlets.RedirectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getCourses</servlet-name>
        <url-pattern>/getCourses</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Sendmail</servlet-name>
        <servlet-class>Servlets.Sendmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sendmail</servlet-name>
        <url-pattern>/Sendmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication</servlet-name>
        <url-pattern>/Authentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPass</servlet-name>
        <url-pattern>/ForgotPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Password_Update</servlet-name>
        <url-pattern>/Password_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostQuestion</servlet-name>
        <url-pattern>/PostQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTopics</servlet-name>
        <url-pattern>/GetTopics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LikeBookmark_dataEntry</servlet-name>
        <url-pattern>/LikeBookmark_dataEntry</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PostAnswer</servlet-name>
        <url-pattern>/PostAnswer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RedirectServlet</servlet-name>
        <url-pattern>/RedirectServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
